{% extends 'base.html.twig' %}

{% block title %}Hello RandomController!{% endblock %}

{% block body %}
        <h1>Introuceti un numar mai mic de 50:</h1>
        <form action="" method="post">
            <input type="number" name="insertedNumber">
            <button type="submit" name="submit">Ghiceste</button>
        </form>

{% endblock %}
