{% extends 'base.html.twig' %}
{% block title %}MenuForm
{% endblock %}

{% block body %}
<div class="container">
       <h1>Add Menu!</h1>
       <div class="row">
           <div class="col">
               {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
               {{ form_widget(form) }}
               {{ form_end(form) }}
           </div>
       </div>
   </div>
   {% endblock %}